* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-image: radial-gradient(rgba(103, 126, 250, 1), rgba(142, 84, 219, 1));
  color: #fff;
  padding: 20px;
  position: relative; /* 追加 */
  z-index: 1; /* 追加 */
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  transition: all 0.5s ease-in-out;
  position: relative; /* 追加 */
  z-index: 2; /* 追加 */
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  font-weight: bold;
}

.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

.nav-active {
  transform: translateX(0%) !important;
}
@media screen and (max-width: 1024px) {
  .nav-links {
    width: 55%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-image: radial-gradient(rgba(103, 126, 250, 1), rgba(142, 84, 219, 1));
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    z-index: 1; /* 追加 */
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    position: relative; /* 追加 */
    z-index: 2; /* 追加 */
  }
}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}














.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #fff, #e6e6e6);
}

.content {
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
}
a {
  color: white;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.logo {
  margin: 10px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.logo img {
  width: 90px;
  height: 90px;
  transition: transform 0.3s;
}

.logo:hover {
  transform: scale(1.1);
}

.logo:before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: linear-gradient(to bottom right, #ff8a00, #e52e71);
  opacity: 0.8;
  transform: scale(0);
  transition: transform 0.3s;
}

.logo:hover:before {
  transform: scale(1);
}
.profile-picture {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.profile-picture img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.footer {
  background-image: radial-gradient(rgba(103, 126, 250, 1), rgba(142, 84, 219, 1));
  color: #fff;
  text-align: center;
  padding: 20px;
}

.myhobbycontainer {
  background: linear-gradient(to right, #fff, #e6e6e6);
  margin-top: 0;
  margin-bottom: 0;
}

.myhobby {
  text-align: center;
}
.h1hobby {
  margin-top: 0;
}

@keyframes navLinksFade{
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}